<%= form.fields_for :time_policy do |ff| %>
  <%= ff.fields :missing_attendance, model: OpenStruct.new(form.object.time_policy.missing_attendance) do |missing_attendance| %>
    <label class="col-form-label">Do you want the system to automatically deduct leave when there is no attendance logged?</label>
    <div class="mt-3">
      <%= missing_attendance.radio_button :deduct_leave, false, checked: true, data: { controller: "time-policy-rules", action: "input->time-policy-rules#time", value: false} %>
      <%= missing_attendance.label :deduct_leave, "No. Do not let the system automatically deduct leaves.", value: "false"%><br>
      <%= missing_attendance.radio_button :deduct_leave, true, data: { controller: "time-policy-rules", action: "input->time-policy-rules#time", value: true } %>
      <%= missing_attendance.label :deduct_leave, "Yes, Deduct leaves automatically based on the rules defined below", value: "true" %>
    </div>
    <div id="missing_attendance_leaves" class="missing_attendance_leaves mt-4">
      <%= missing_attendance.label :detuct_leaves %>
      <%= missing_attendance.number_field :detuct_leave_no %>
      <%= missing_attendance.label :missing_attendance_days %>
      <%= missing_attendance.number_field :missing_attendance_days %>
    </div> 
    <div class="mt-4">
      <h5>How are leaves deducted?</h5>
      <p>
      All missing attendance days are to be treated as Unpaid Leaves (Loss of Pay)<br>
      If You want to avoid attendance days are to be treated as Unpaid Leaves (Loss of Pay) then apply for Paid leave.</p>
    </div>
    <div class="text-center mt-2 mb-2">
      <%= link_to 'Next','#', data: {controller: "time-policy-rules", action: "click->time-policy-rules#lateArrival"} %>
    </div>
  <% end %>  
<% end %>
