<p style="color: green"><%= notice %></p>

<%= render @employee_group %>

<div>
  <%= link_to "Edit this employee group", edit_employee_group_path(@employee_group) %> |
  <%= link_to "Back to employee groups", employee_groups_path %>

  <%= button_to "Destroy this employee group", @employee_group, method: :delete %>
</div>
