<section>
    <div class="container-fluid">
        <div class="row">
            <h3 class="text-center heading-text mt-2 mb-4">Employee Dashboard</h3>
            <div class="col-md-4 mb-3">
                <a href="<%=calander_view_time_sheets_path%>" class="card-items">
                    <div class="card card-shape">
                        <div class="">
                            <h5 class="card-title text-center fw-bold fs-12 pt-2">
                                Timesheet
                            </h5>
                        </div>
                        <%= image_tag("images/leaves.svg", class: "card-image img-fluid", alt: "...")%>
                        <span class="card-text text-center py-1 fw-light"><%=pluralize(time_sheets_count, "Pending TimeSheet")%></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <a href="<%=leaves_path%>" class="card-items">
                    <div class="card card-shape">
                        <div>
                            <h5 class="card-title text-center fw-bold fs-12 pt-2">Leaves</h5>
                        </div>
                        <%= image_tag("images/leaves.svg", class: "card-image img-fluid", alt: "...")%>
                        <span class="card-text text-center py-1 fw-light"><%=pluralize(leaves_count, "Pending Leave")%></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <a href="<%=attachments_path%>" class="card-items">
                    <div class="card card-shape">
                        <div>
                            <h5 class="card-title text-center fw-bold fs-12 pt-2">
                                Attachment
                            </h5>
                        </div>
                        <%= image_tag("images/attachment.svg", class: "card-image img-fluid", alt: "...")%>
                        <span class="card-text text-center py-1 fw-light"><%=pluralize(attachements_count, "Attachement")%></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <a href="<%=user_evaluation_evaluations_path%>" class="card-items">
                    <div class="card card-shape">
                        <div>
                            <h5 class="card-title text-center fw-bold fs-12 pt-2">
                                Evalutions
                            </h5>
                        </div>
                        <%= image_tag("images/evaluation.svg", class: "card-image img-fluid", alt: "...")%>
                        <span class="card-text text-center py-1 fw-light"><%=pluralize(evaluations_count, "Active Evaluation")%></span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <%= link_to(announcements_path, class: "card-items", data: { turbo_frame: "remote_modal" }) do %>
                    <div class="card card-shape">
                        <div>
                            <h5 class="card-title text-center fw-bold fs-12 pt-2">
                                Announcments
                            </h5>
                        </div>
                        <%= image_tag("images/leaves.svg", class: "card-image img-fluid", alt: "...")%>
                        <span class="card-text text-center py-1 fw-light"><%=pluralize(announcement_count, "New Announcement")%></span>
                    </div>
                    <%end%>
                </div>
                <div class="col-md-4 mb-3">
                    <a href="" class="card-items">
                        <div class="card card-shape">
                            <div>
                                <h5 class="card-title text-center fw-bold fs-12 pt-2">Events</h5>
                            </div>
                            <%= image_tag("images/events.svg", class: "card-image img-fluid", alt: "...")%>
                            <span class="card-text text-center py-1 fw-light">you have no data yet</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mb-3">
                    <a href="<%= upcoming_holidays_path%>" class="card-items">
                        <div class="card card-shape">
                            <div>
                                <h5 class="card-title text-center fw-bold fs-12 pt-2">
                                    Upcoming Holidays
                                </h5>
                            </div>
                            <%= image_tag("images/holidays.svg", class: "card-image img-fluid", alt: "...")%>
                            <span class="card-text text-center py-1 fw-light">you have no data yet</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
